CompileFlags:
  Compiler: D:/stm32tools/arm-none-eabi-gcc/14.2.1-1.1.1/.content/bin/arm-none-eabi-gcc.exe
  Add:
    - -mcpu=cortex-m3
    - -mthumb

Index:
  Background: Build

Diagnostics:
  Suppress:
    - unused-parameter
    - missing-prototypes
  UnusedIncludes: None
